!!!
%html
  %head
    %title NCAA Bracket Generator
  %body
    %h1 NCAA Bracket Generator
    %p
      This page will autogenerate a bracket based on the
      tournament's historical results. That is, if seed A has beaten seed B
      X% of the time, it will pick seed A with X% probability.
    %p
      It's open source, so check out the (horribly written)
      %a{:href => 'https://github.com/listrophy/lazy_ncaa'} source code.
    %p Here are your results!
    %pre
      %code
        = @tournament
    :plain
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29944212-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      
      </script>
